.module-card {
  height: 100%;
  margin: 8px 0;

  ion-card-content {
    display: grid;
    gap: 10px;
  }

  ion-icon {
    color: #315f9d;
    font-size: 34px;
  }

  h2 {
    font-size: 1.15rem;
    margin: 0;
  }
}
